.nav {
  display: block;
  padding: 8px;
  background-color: red;
}

.home-bar {
  display: flex; /* Use flexbox layout */
  align-items: center; /* Vertically align items */
}

.home-item {
  margin-right: 220px; /* Add space between each navigation item */
  color: red;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo-image {
  height: 80px; /* Adjust the height as needed */
  width: auto; /* Ensures the width scales proportionally with the height */
  margin-right: auto;
}

h1 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.mySlides {
  width: 60%;
}

.destinations-images {
  display: flex;
  justify-content: center;
  margin: 4%;
}

.places img {
  width: 200px;
  height: 200px;
}

.destination_button {
  margin: auto;
}

.destination_button img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.destination_container h1 {
  font-style: normal;
  text-align: center;
  font-size: 60px;
  margin-bottom: 6%;
  padding-top: 5%;
  margin-top: 0%;
}

.button_container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Adjust height as needed */
  margin-bottom: 50px;
}

.pill {
  /* Add your button styles here */
  padding: 10px 20px;
  background-color: #007bff; /* Example background color */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.pill:hover {
  background-color: #407D6D;
}

.destination {
  background-color: #F2F6F8;
  width: 100%;
  padding: 0%;
}

.body {
  height: 100vh;
}