@font-face {
  font-family: 'Agrandir';
  src: url(/fonts/AgrandirFamily/Agrandir-GrandHeavy.otf);
}

@font-face {
  font-family: "open sauce";
  src: url(/fonts/OpenSauce/Fonts/OpenSauceOne-Regular.ttf);
}

html{
  width: 100%;
  padding: auto;
  margin: auto;
}

.logo{
  height: 70px; 
  width: 70px; 
 }
 
 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;
 }
 
 li {
   float: left;
 }
 
 li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   width: 300px;
 }
 
 li a:hover {
   background-color: #111;
 }
 
 .centered-div{
  padding-top: 8%;
  padding-bottom: 8%;
  text-align: center;
 }
 .homepage{
    margin:auto;
    height: 70vh;
    background-image: url(/images/hompage.png);
    padding: 5%
 }
 .homepage h1 {
    font-size: 400%;
    color: white; 
    text-align: center;
    font-family: 'Agrandir', "Times New Roman" , Times, serif;
    margin-bottom: 0;
 }
 
 .homepage p {
  color: white;
  font-size: 150%;
  text-align: center;
  font-family: "open sauce", 'Times New Roman', Times, serif;
 }
 
 
 .destinations-images {
     display: flex;
     justify-content: center;
     margin: 7%;
 }
 
 .places{
     position: relative;
 }
 .places img{
 width: 400px;
 height: 250px;
 }
 
 .destination_button {
     margin: auto;
 }
 
 .destination_button img {
     width: 300px;
     height: 300px;
     object-fit: cover;
 }
 
 .destination_container h1 {
     font-style: normal;
     text-align: center;
     font-size: 60px;
     margin-bottom: 6%;
     padding-top: 5%;
     margin-top: 0%;
     font-family: "open sauce", 'Times New Roman', Times, serif;
 }
 
 .button_container {
    height: 30%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
  }

/*The code for the pill button style comes from @dcode on YouTube */ 
  .pill {
    font-size: 22px;
    font-family: 'Readex Pro', sans-serif;
    padding: 1em 6em;
    margin: 0.25em;
    border-radius: 2em;
    color: white;
    border: none;
    outline: none ;
    background-color: #B9D4CF;
    cursor: pointer;
    text-align: center;
    top: 50%;
    transform: translateY(-50%); 
  }
  
  .pill:hover {
    background-color: #407D6D;
  }
 
 
 .destination {
     background-color: #F2F6F8;
     width: 100%;
     padding: 0%;
     height: 99vh;
 }
 
.reviews {
  background-color: #F2F6F8;
     width: 100%;
     padding: 0%;
     height: 99vh;
}

.reviews h1{
  font-size: 400%;
  color: black; 
  text-align: center;
  font-family: "open sauce", 'Times New Roman', Times, serif;
  margin: 0;
}

.box {
  display: inline-block;
  width: 300px; /* Width of the boxes */
  height: 550px; /* Height of the boxes */
  background-color: #fff;
  padding: 10px;
  text-align: center;
}

.box:nth-child(2) {
  margin: 0 10%; /* Space between boxes */
}

.icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-top: 20%;
}

.quotation {
  align-self: flex-start;
}

.name {
  margin-top: 2px;
  font-size: 18px;
}

.content {
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "open sauce", 'Times New Roman', Times, serif;
}

.content p{
  font-size: 140%;
  color: black; 
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  margin-top: 15%;
  margin-bottom: 15%;
}

 .body {
     height: 100vh;
 }
 
 .prev, .next {
     position: absolute; 
     top: 50%; /* Align vertically */
     transform: translateY(-50%); 
     background-color: rgba(0, 0, 0, 0.5);
     color: white;
     font-size: 20px;
     border: none;
     cursor: pointer;
     padding: 10px;
     z-index: 1;
 }
 
 .prev {
     left: 10px;  
 }
 .next {
     right: 1070px; 
 }


#randImg img {
  max-width: 50%; 
  height: 50%; 
  margin-top: 20px auto; 
}

.random-body{
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.random-container{
  text-align: center;
}


/* Control the left side */
.left {
  left: 0;
  background-image: url(/images/groupPic.png);
  background-position: left top;
  background-size: 100% 100%;
  height: 100%;

}

.left, .right{
  flex: 1;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #214D45;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
    
.randomTrip{
  display: flex;
  background-color: #F2F6F8;
  width: 100%;
  padding: 0%;
  height: 99vh;
}

.randomTrip-container{
  margin-top: 30%;
  margin-left: 20%;
  margin-right: 20%;
}

.randomTrip-container h1{
  font-size: 300%;
  color: white; 
  text-align: left;
  font-family: "open sauce", 'Times New Roman', Times, serif;
  margin-bottom: 7%;
}

.randomTrip-container p{
  font-size: 100%;
  color: white; 
  text-align: left;
  font-family: "open sauce", 'Times New Roman', Times, serif;
  margin-bottom: 15%;
}

.skyline{
  margin:auto;
  height: 82vh;
  background-image: url(/images/skyline.png);
  padding: 5%
}

.star-rating {
  display: flex;
  gap: 5px;
  padding-left: 13%;
}

.star {
  font-size:2.5em;
  color: green;
}

.empty-star {
  font-size: 2.5em;
  color: lightgray;
}

.skyline-content{
  width: 900px;
  height: 100px;
}
.skyline-content h1{
  font-size: 400%;
  color: white; 
  text-align: left;
  font-family: 'Agrandir', "Times New Roman" , Times, serif;
  margin-top: 8%;
  margin-left: 8%;


}

.slideshow{
  margin:auto;
  height: 82vh;
  background-color: #214D45;  
  padding: 5%;

}