/************************************
    File Name: trivia.css
    Purpose: Create style for the trivia page
    Author: Chris Alex
    DrexelId: cpa49 
**************************************/
body {
    background-color: gainsboro;
}

.logo {
    height: 70px;
    width: 70px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
    width: 250px; /* Adjust space between the nav bar*/
  
}

nav li a:hover {
    background-color: #555;
}

img {
height: 300px;
width: 600px;
}

#image-container {
            margin-top: 20px; 
}

h1 {
    text-align: center;
    margin-top: 30px;
    color: #333;
}

.quiz-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.question {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
}

.options {
    text-align: center;
    margin-top: 20px;
}

.quiz-actions {
    text-align: center;
    margin-top: 30px;
}

.quiz-actions button {
    margin: 0 5px;
    padding: 8px 15px;
    font-size: 1em;
    border: none;
    background-color: mediumpurple;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quiz-container input[type="radio"] + label {
    display: inline-block;
    padding: 8px 20px;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
}
#modeIndicator {
    color: blue;
    text-align: center;
   
}