{% extends "destination.html" %} {% block title %}Changed{% endblock %}

{% block content %}
<h2>Place name </h2>
{% endblock %}

{% block content %} 
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia ex quis leo mattis, vel pharetra est sollicitudin. Aliquam sit amet orci fringilla, condimentum dui ut, tincidunt eros. Morbi eu augue imperdiet, imperdiet nunc eu, sollicitudin mi. Aliquam fringilla, tortor non eleifend pretium, elit lacus volutpat neque, ac malesuada tortor ligula laoreet nulla. Sed sollicitudin ornare velit et pellentesque. Aliquam sit amet luctus nisl. </p>
{% endblock %}